@model IEnumerable<ApplicationUser>
<div class="container">
<h2>Список пользователей</h2>
<table class="table table-primary table-striped table-hover">
    <tr>
            <th>Имя пользователя</th>
            <th>Номер телефона(логин)</th>
            <th>Изменить права доступа</th>
            <th>Удалить пользователя</th>
        </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
            <td>
                <a class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-userid="@user.Id">Удалить пользователя</a>
            </td>
        </tr>
    }
</table>
</div>
