@model Order
@inject Cart cart
<section class="cofirmation-menu">
  <div class="container">
    <div class="confirmation-wrapper">
      <div class="order-info">
        <div class="order-header">
          Оформление заказа
        </div>
        <div class="orders-wrapper">
          <div class="order-head">
            Вы заказали:
          </div>
          <div class="items-wrapper">
          @foreach(var item in cart.Lines){  
            <div class="cart-item">
              <div class="item-delete">
                <div class="delete_btn">
                  <a asp-action="RemoveFormCart" asp-controller="Order" asp-route-itemid="@item.Item.Id" class="delete_btn">
                    <img src="~/img/x-delete.svg" />
                  </a>
                </div>
              </div>
              <div class="item-image"><img src=""/></div>
              <div class="item-name">@item.Item.Name</div>
              <div class="quantity">
                <a  class="b-minus">-</a>
                <div class="digit-sm"><span class="jq">@item.Quantity</span></div>
                    <a asp-action="QuantityIncrement" asp-controller="Order" asp-route-itemId="@item.Item.Id" class="b-plus">+</a>
                </div>
              @{var z=@item.Quantity * @item.Item.Price;}
              <div class="item-summary"><span id="digit">@z</span> UAH</div>
            </div>              
          }
          </div>
        </div>
        <div class="bonus-footer">
          <div class="tabs-wrapper">
            <div class="tab-deliver active">
              Доставка
            </div>
            <div class="tab-selfdel">
              Самовывоз (- 20%)
            </div>
          </div>
          <div class="bonus-info-menu">
            <div class="total-sm">
              <div class="sum">
                <div class="label">
                  Итого
                </div>
                <div class="digit">
                  700 UAH 
                </div>
              </div>
              <div class="del-bonus">
                <div class="label">
                  Доставка
                </div>
                <div class="digit">
                  0  UAH
                </div>
              </div>
            </div>
            <div class="total-total">
              <div class="total-label">
                Итого к оплате
              </div>
              <div class="total-sum">
                700 UAH
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="delivery-info">
        <div class="info-wrapper">
          <div class="deliver-district">
            <div class="label">
              Район доставки
            </div>
            <div class="input-val">
              <input placeholder="Выбрать">
            </div>
          </div>
          <div class="deliver-fio">
            <div class="label">
              ФИО
            </div>
            <div class="input-val">
              <input placeholder="Введите Ваше полное имя">
            </div>
          </div> 
          <div class="deliver-phone">
            <div class="label">
              Телефон
            </div>
            <div class="input-val">
              <input placeholder="+380">
            </div>
          </div>
          <div class="deliver-adress">
            <div class="label">
              Адрес доставки
            </div>
            <div class="input-val">
              <input placeholder="Введите адрес доставки">
            </div>
          </div>
          <div class="deliver-payment">
            <div class="label">
              <select class="form-select input-val" aria-label=".form-select-lg example">
                  <option selected>Способ оплаты</option>
                  <option value="1">Наличные</option>
                  <option value="2">Кредитная карта</option>
              </select>
            </div>
          </div> 
        </div>
        <a class="submit-btn">
          Оформить заказ
        </a>              
      </div>
      
      
    </div>
  </div>
</section>