@using RestWebAppl.Models.ViewModels;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ItemPageViewModel
<section class="order-menu">
      <div class="container">
        <div class="order-wrapper">
          <div class="order-description">
            <div class="item-photo">
                @if(@Model.item.ImagePath!=null){
                      <img src="~/uploads/@Model.item.ImagePath">
                  }
            </div>
            <div class="menu">
              <div class="items-name">@Model.item.Name</div>
              <div class="menu-rating">
                <span><img src="/img/star-bigger.svg" /></span>
                <span><img src="/img/star-bigger.svg" /></span>
                <span><img src="/img/star-bigger.svg" /></span>
                <span><img src="/img/star-bigger.svg" /></span>
                <span><img src="/img/star-bigger.svg" /></span>
              </div>
              <div class="menu-reviews">Кол-во отзывов:&nbsp;<span>23</span></div>
              <div class="menu-price">
                <div class="text">Цена за уп.</div>
                <div class="digit"><span id="price">@Model.item.Price</span>&nbsp;UAH</div>
              </div>
              <div class="menu-qip">
                <div class="text">Вес</div>
                <div class="digit">500 гр.</div>
              </div>
              <div class="menu-quantity">
                <div class="text">Количество</div>
                <div class="quantity">
                  <div class="b-minus"><img src="/img/minus.svg" alt="" /></div>
                  <div class="digit-sm"><span class="jq">1</span>шт</div>
                  <div class="b-plus"><img src="/img/plus.svg" alt="" /></div>
                </div>
              </div>
              <div class="small-text">Ед. изм.: упаковка</div>
              <div class="menu-summary">
                <div class="text">Итого к оплате</div>
                <div  class="digit"><span id="summary">@Model.item.Price</span>&nbsp;UAH</div>
              </div>
              <div class="buttons">
                <a asp-action="Checkout" asp-controller="Order" class="button-big">Купить</a>
                    <a id="AddToCart" type="submit" class="button-small">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4019 15.1176H9.37073L7.64494 8.79217H20.5647L17.4019 15.1176ZM22.3574 7.68315C21.9705 7.05693 21.3 6.68372 20.5641 6.68372H7.0698L6.41933 4.29797C6.29387 3.83938 5.87745 3.521 5.40199 3.521H3.2935C2.7105 3.521 2.23926 3.9933 2.23926 4.57524C2.23926 5.15718 2.7105 5.62948 3.2935 5.62948H4.59654L7.54737 16.4492C7.67282 16.9078 8.08925 17.2262 8.56471 17.2262H18.0529C18.4525 17.2262 18.8172 17.0005 18.9964 16.6432L22.4501 9.7347C22.7801 9.0758 22.7443 8.30937 22.3574 7.68315ZM8.03792 19.3346C7.16501 19.3346 6.45656 20.042 6.45656 20.916C6.45656 21.7899 7.16501 22.4973 8.03792 22.4973C8.91084 22.4973 9.61929 21.7899 9.61929 20.916C9.61929 20.042 8.91084 19.3346 8.03792 19.3346ZM16.999 20.916C16.999 20.042 17.7074 19.3346 18.5803 19.3346C19.4533 19.3346 20.1617 20.042 20.1617 20.916C20.1617 21.7899 19.4533 22.4973 18.5803 22.4973C17.7074 22.4973 16.999 21.7899 16.999 20.916Z" fill="white"/>
                        <mask id="mask0_175_1350" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="21" height="20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4019 15.1176H9.37073L7.64494 8.79217H20.5647L17.4019 15.1176ZM22.3574 7.68315C21.9705 7.05693 21.3 6.68372 20.5641 6.68372H7.0698L6.41933 4.29797C6.29387 3.83938 5.87745 3.521 5.40199 3.521H3.2935C2.7105 3.521 2.23926 3.9933 2.23926 4.57524C2.23926 5.15718 2.7105 5.62948 3.2935 5.62948H4.59654L7.54737 16.4492C7.67282 16.9078 8.08925 17.2262 8.56471 17.2262H18.0529C18.4525 17.2262 18.8172 17.0005 18.9964 16.6432L22.4501 9.7347C22.7801 9.0758 22.7443 8.30937 22.3574 7.68315ZM8.03792 19.3346C7.16501 19.3346 6.45656 20.042 6.45656 20.916C6.45656 21.7899 7.16501 22.4973 8.03792 22.4973C8.91084 22.4973 9.61929 21.7899 9.61929 20.916C9.61929 20.042 8.91084 19.3346 8.03792 19.3346ZM16.999 20.916C16.999 20.042 17.7074 19.3346 18.5803 19.3346C19.4533 19.3346 20.1617 20.042 20.1617 20.916C20.1617 21.7899 19.4533 22.4973 18.5803 22.4973C17.7074 22.4973 16.999 21.7899 16.999 20.916Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_175_1350)">
                            <rect x="0.130859" y="0.358154" width="25.3018" height="25.3018" fill="white"/>
                            </g>
                        </svg>
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="description-menu">
      <div class="container">
        <div class="description-wrapper">
          <div class="description-block">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active"data-bs-toggle="tab" href="#about_product">О товаре</a></li>
              <li class="nav-item"><a class="nav-link"data-bs-toggle="tab" href="#parameters_product">Параметры</a></li>
              <li class="nav-item"><a class="nav-link "data-bs-toggle="tab" href="#reviews_product">Отзывы</a></li>
            </ul>
            
            <div class="tab-content">
              <div id="about_product" class="tab-pane active ">
                <h1>Описание</h1>
                <div class="description-text">
                  <p>
                    Полутвердый пластичный однородный сыр, слегка ломкий на
                    изгибе. Пажитник придает легкое ореховое послевкусие. В Италии
                    считается столовым сыром, который подходит к любому времени
                    суток и к любому блюду и к вину
                  </p>
                  <p>Вес головки 500 г. +/-10%. Цена за 1 кг.<br /></p>
                  <p>
                    Продукция компании Alpenville изготовлена преимущественно из
                    Шарангского молока
                  </p>
                </div>
                
              </div>
              <div id="parameters_product" class="tab-pane fade">
                <ul>
                  <li>
                    <b>Калории: </b>420</li>
                  <li>
                    <b>Жиры: </b>54</li>
                  <li>
                    <b>Белки: </b>27</li>
                  <li>
                    <b>Углеводы: </b>18</li>
                  <li>
                    <b>Масса: </b>500<span>&nbsp;грамм</span></li>
                </ul>
                
              </div>
              <div id="reviews_product" class="tab-pane fade">
                <h1>Отзывы</h1>
                <div class="swiper slider-reviews">
                  <div class="swiper-wrapper">
                  @foreach(var review in @Model.reviews){
                    <div class="swiper-slide">
                      <div class="review-header">
                        <div class="avatar">
                            @if (review.User.UserPhoto!= null)
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(review.User.UserPhoto))"/>
                            }
                            else{
                                <img src="/img/rev_photo.png">
                            }
                        </div>
                        <div class="user-info">
                          <div class="name">@review.User.FirstName @review.User.LastName <span><img src="/img/message.svg"></span></div>
                          <div class="rating">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class=""></span>
                          </div>
                            <a  class="social-link"href="">@review.User.PhoneNumber</a>
                        </div>
                      </div>
                      <textarea rows=10 readonly class="review-text">@review.Text</textarea>
                      <div class="read-full"><a href="#">Читать полностью</a></div>
                    </div>
                  }
                  </div>
                  <div class="swiper-button-next"><span>Ещё</span><img src="/img/arrowA.svg"></div>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                  <a class="green-btn" asp-route-itemId="@Model.item.Id" asp-action="AddReview">Добавить отзыв</a>  
                }
                else{
                  <span>Для того, чтобы иметь возможность оставлять отзывы, необходимо авторизироваться.</span>
                }
              </div>
            </div>
          </div>
          <div class="bonus-menu">
            <div class="bonus-header">Закажите на 3000 UAH и получите</div>
            <div class="bonus-money">
              <img src="/img/bonus-pig.svg" alt="" />
              <b>30 UAH &nbsp;</b><span>на бонусный счет</span>
            </div>
            <div class="bonus-delivery">
              <img src="/img/free-car.svg" />
              <span>Бесплатная доставка</span>
            </div>
            <div class="bonus-minorder">
              <b>1000</b><span>(минимальный заказ)</span>
            </div>
            <div class="bonus-goal-menu">
              <div class="slider">
                <div class="range-line" data-mins="0" data-maxs="3000">
                  <div style="width: 60%" class="green-line"></div>
                  <div class="round"></div>
                </div>
              </div>
            </div>
            <div class="bonus-footer">
              Осталось <b>1988 UAH</b> до бесплатной доставки
            </div>
          </div>
        </div>
      </div>
</section>
<section class="home-delivery-banner">
      <div class="container">
        <div class="block">
          <img src="/img/benzvito.png" alt="" />
          <h2>Бесплатная доставка по Кривому Рогу и Области от 23 UAH!</h2>
          <a href="#">Оформить</a>
        </div>
      </div>
</section>

<script>
    $(function() {
    $("#AddToCart").click(function(){
        var quanti=parseInt($(".jq").text());
        $.post("@Url.Action("AddToCart","Order")",{itemid:"@Model.item.Id",quantity:quanti}).done(function(data){console.log(data.stutus);location.reload();});
    });
    });
</script>


<script>
        $(".b-minus").click(function()
        {
            if(parseInt($(".jq").text())>1)
            {
            let numberOne=(parseInt($(".jq").text()));
            numberOne--;
            let Summary=(parseInt($("#summary").text()));
            let price=parseInt($("#price").text());
            $("#summary").text(Summary-price);
            $(".jq").text(numberOne);
            }
            
        });
        $(".b-plus").click(function()
        {
            let numberOne=(parseInt($(".jq").text()));
            numberOne++;
            let price=parseInt($("#price").text());
            $("#summary").text(price*numberOne);
            $(".jq").text(numberOne);
            
        });
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiperReviews = new Swiper(".slider-reviews", {
        slidesPerView: 2,
        spaceBetween: 16.77,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
</script>