@using RestWebAppl.Models
@model IEnumerable<Order>
@{
	ViewBag.Title="Orders";
	Layout = "_AdminLayout";
}
@if(Model.Count()>0){
	<table class="table align-middle table-bordered table-striped ">
		<tr><th>Имя</th><th>Номер телефона</th><th>Адрес</th><th colspan="2"></th><th>Детали</th></tr>
		@foreach(var o in Model){
			<tr>
				<td>@o.FullName</td>
				<td>@o.PhoneNumber</td><td>@o.DeliveryDistrict</td><th>Товар</th><th>Количество</th>
				<td>
					<form asp-action="MarkShipped" method="post">
						<input type="hidden" name="orderId" value="@o.OrderID">
						<button type="submit" class="btn btn-outline-success">
							Отправить
						</button>
					</form>
				</td>
			</tr>
			@foreach(CartLine line in o.Lines){
				<tr>
					<td colspan="2"></td>
					<td>@line.Item.Name</td><td>@line.Quantity</td>
					<td></td>
				</tr>
			}
		}
	</table>
} else{
	<div class="text-center">Нет товаров в ожидании.</div>
}